// reset
@use "base/reset";
html, body{
    width: 100%;
    height: 100%;
}
// fondo principal
    .pagina-principal{ 
    position: relative; 
    background-image: url(../images/fondo.png); 
   
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    z-index: 0; 

    &::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    pointer-events: none;
  }
} 
// fondo mobile
@media (max-width: 991.98px) { 

    .pagina-principal { 
       & ::before{
        background-color: rgba(0,0,0,0.4); 
        
        z-index: -1; 
        pointer-events: none; } 
    } 

    

} 
  
// header
    header { 
   
    position: sticky; 
    top: 0; 
    z-index: 1000; 
        
     .navbar-custom .navbar-brand{ 

    color:whitesmoke ; 
    letter-spacing: 0.5px; 
    font-size: 1.2rem; 
    font-weight: 200; 
    font-family: "Share Tech Mono", sans-serif; 
} 
     .nav-link { 

    text-decoration: none; 
    color: whitesmoke;
    letter-spacing: 0.08em; 
    font-weight: 500; 
    font-family: "Share Tech Mono", sans-serif; 
    margin-left: 2rem; 
    line-height: 1.2; 

    &.active{ 

 background: linear-gradient( 90deg, 

        lch(53.23% 104.58 40), 
        #ee7272, 
        rgb(168, 165, 165))  ;    
        -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent; 
    font-weight: 600 

 } 
     &:not(.active):hover{ 
    color: whitesmoke; 
} 
} 

 
    .navbar-custom .navbar-toggler { 
    border: 2px solid rgb(238, 246, 241); 
    padding: 0.25rem 0.5rem; 

        } 
    } 
// header mobile
@media (max-width: 991.98px) { 

    header { 
      position: sticky; 
        top: 0; 
        z-index: 1100; 
    } 

    .navbar-custom { 
       z-index: 1100; 
    } 

    .navbar-custom .navbar-collapse { 
        margin-left: auto; 
         width: auto; 
        flex-grow: 0; 
         flex-basis: auto; 
        border-radius: 8px; 
        padding: 16px; 
        background-color:rgba(0,0,0,0.8); ;     
    } 
 

    .navbar-custom .navbar-nav { 
        align-items: flex-end; 
        gap: 10px; 
        } 

    .navbar-custom .nav-item { 
        width: 100%; 
        display: flex; 
        justify-content: flex-end; 
        border: 2px solid rgb(96, 244, 150);  
    } 
 

    .navbar-custom .nav-link { 
        min-width: 180px; 
        text-align: left; 
        color: whitesmoke; 
        padding: 10px 16px; 
        border-radius: 6px; 
        transition: background-color 0.25s ease, color 0.25s ease;    

    } 

} 



// main

     .seccion-principal { 
    min-height:  calc(100vh - 80px); 
    display: flex; 
    
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
   
    position: relative; 
    z-index: 1; 
    margin-right: 50px;
        .contenido-principal { 
            display: flex;
            flex-direction: column;
            text-align: right;
            max-width: 500px;
        align-items: flex-end;
    h2{
    font-size: 2.5rem; 
    font-weight: 300; 
    color: whitesmoke ; 
    
    font-family:"Share Tech Mono" , sans-serif; 
    text-transform: uppercase; 
    text-shadow: 0 0 6px rgba(0,0,0,0.3);     
}

        h3 { 
    font-size: 1.5rem; 
    font-weight: 600; 
    color: whitesmoke; 
    font-family: "plus jakarta sans", sans-serif; 
    margin: 40px 0 20px 0; 
} 

        p { 
    font-size: 1.2rem; 
    font-weight: 400; 
    color: whitesmoke; 
    font-family: "plus jakarta sans", sans-serif; 

    } 
}

.btn{ 
    display: inline-block; 
   padding: 10px 28px; 
   margin: 60px 0 ; 
   width: fit-content; 
   position: relative; 
   z-index: 1; 

    
   font-family: "plus jakarta sans", sans-serif; 
   font-size: 1rem; 
   font-weight: 500; 
   text-decoration: none; 
   color: whitesmoke; 
   background-color: transparent; 
   letter-spacing: 0.03em; 

   line-height: 1.2; 

   border: 2px solid rgba(245,245,245,0.7); 
   border-radius: 2px; 

   cursor: pointer; 

   transition: 

        color 0.25s ease, 

        border-color 0.25s ease, 

        box-shadow 0.25s ease, 

        transform 0.2s ease; 

    -webkit-tap-highlight-color: transparent; 

    &:hover{ 
    color: #00ff9d; 
    border-color: #00ff9d; 
    box-shadow: 0 0 12px rgba(0, 255, 157, 0.45) ; 
     transform: translateY(-1px); 

} 
&:focus-visible {
    outline: none;
    box-shadow: 0 0 2px rgba(74, 251, 151, 0.4);
  }

  &:active {
    background-color: transparent;
    color: #00ff9d;
    border-color: #00ff9d;
    box-shadow: none;
    transform: translateY(0);
  }
} 
 
} 

// main mobile

@media (max-width: 991.98px) { 
 
    .seccion-principal { 
        display: flex; 
        min-height: auto; 
       padding: 30px 10px; 
        justify-content: center;    
        align-items: center; 
        position: relative; 
        z-index: 1; 
        margin-right: 0;

         .contenido-principal { 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        max-width: 420px; 
        justify-content: center; 

h2{ 
        font-size: 2rem; 
        font-weight: 400; 
        line-height: 1.3; 
         text-shadow: 0 0 8px rgba(0,0,0,0.7);
    }

        
    h3{ 
        font-size: 1.5rem; 
        font-weight: 600; 
        line-height: 1.3; 
       
         text-shadow: 0 0 8px rgba(0,0,0,0.7);
    } 
 

    } 


    } 

    .btn { 
        display: flex;
        margin-top: 80px; 
        padding: 12px 28px;
        font-size: 1rem; 
        color: whitesmoke; 
        background-color: rgba(0,0,0,0.5); 
        border: 2px solid whitesmoke; 
        border-radius: 2px; 
        cursor: pointer; 
        width: fit-content; 
        position: relative; /* importante */ 
        z-index: 2; /* sobre overlay */ 
        transition: 
            color 0.25s ease, 
            border-color 0.25s ease, 
            box-shadow 0.25s ease, 
            transform 0.2s ease; 

            // hover
            &:hover,
            &.focus,
            &:active { 

                    color: #00ff9d; 
                     background-color: #0a120f; 
                     border-color: #00ff9d; 
                    box-shadow:0 0 16px rgba(46, 249, 90, 0.7); 
                    transform: translateY(-2px); 

    }      
    } 
 }
 
 
/* estilos del footer */ 
 footer { 
    
   justify-content: center; 
    margin-top: 100px; 
    padding: 50px; 
    position: relative; 
    z-index: 1; 

    p{ 
    text-align: center; 
    color: whitesmoke ; 
    font-size: 1.2em; 
    font-weight: lighter; 
    font-family:"share tech mono" , sans-serif ; 
    padding-top: 20px; 
    margin-bottom: 20px; 
} 
/* contenedor de iconos */ 

    .social-icons { 
    display: flex; 
    justify-content: center; 
   gap: 1rem;
    
    a{
        display: inline-flex;
        width: 32px;
        height: 32px;
       
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 0.5;
            transition: 
            filter 0.25s ease,
            transform 0.25s ease,
            opacity 0.25s ease;
            
    }

    &:hover img {
      opacity: 1;
      filter:
        drop-shadow(0 0 6px rgba(216, 219, 218, 0.6))
        drop-shadow(0 0 14px rgba(241, 247, 245, 0.4));
      transform: translateY(-2px);
    }
     
        } 

    } 
} 

// footer mobile

@media (max-width: 991.98px) { 
    footer { 
        padding: 30px 20px; 
        margin-top: 60px; 

        .social-icons { 
        justify-content: center; 
        margin-top: 20px;  
            a{
                img { 
        width: auto;  
        object-fit: contain; 

        margin-right: 8px;  

        opacity: 0.5; 

        transition: 

            filter 0.25s ease, 

            transform 0.25s ease, 

            opacity 0.25s ease; 

             }
                &:hover img,
                &:focus img{ 

        opacity: 1; 

        filter: 

            drop-shadow(0 0 6px rgba(216, 219, 218, 0.6)) 

            drop-shadow(0 0 14px rgba(241, 247, 245, 0.4)); 

        transform: translateY(-2px); 

    } 

             }

                    }                 
    } 

   

} 

 


