
@use "utilities/mixin";
@use "utilities/variables";

// reset
@use "base/reset";

html, body{
    width: 100%;
    height: 100%;
}

// pagina principal

// fondo principal
    .pagina-principal{ 
    display: flex;
    flex-direction: column;
    position: relative; 
    background-image: url(../images/fondo.webp); 
   
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    z-index: 0; 

    &::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    pointer-events: none;
  }
} 
// fondo mobile
@media (max-width: 991.98px) { 

    .pagina-principal { 
        

       &::before{
        background-color: rgba(0,0,0,0.6); 
        position: fixed;
        inset: 0;
        
        z-index: -1; 
        pointer-events: none; } 
    } 

    

} 
  
// header
    header { 
   
    position: sticky; 
    top: 0; 
    z-index: 1000; 
        
     .navbar-custom .navbar-brand{ 
     padding-top: 20px;
    color: variables.$color-principal; 
    letter-spacing: 0.5px; 
    font-size: 1.2rem; 
    font-weight: 200; 
    font-family: "Share Tech Mono", sans-serif; 
    
    
} 
     .nav-link { 

    text-decoration: none; 
    color:variables.$color-principal;
    letter-spacing: 0.08em; 
    font-weight: 500; 
    font-family: "Share Tech Mono", sans-serif; 
    margin-left: 2rem; 
    line-height: 1.2; 
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: 
        border-color 0.6s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
     
        
    &:hover { 
        border: 2px solid variables.$color-acento
       
    }

     
    &.active{ 
 background: linear-gradient( 90deg, 
        lch(53.23% 104.58 40), 
        #ee7272, 
        rgb(168, 165, 165))  ;    
        -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: transparent; 
    font-weight: 600 

 } 
     &:not(.active){ 
    color: variables.$color-principal; 
} 

   
} 

 
    .navbar-custom .navbar-toggler { 
    border: 2px solid variables.$color-principal; 
    padding: 0.25rem 0.5rem; 

        } 
    } 
// header mobile
@media (max-width: 991.98px) { 

    header { 
      position: sticky; 
        top: 0; 
        z-index: 1100; 
    } 

    .navbar-custom { 
       z-index: 1100; 
    } 

    .navbar-custom .navbar-collapse { 
        margin-left: auto; 
         width: auto; 
        flex-grow: 0; 
         flex-basis: auto; 
        border-radius: 8px; 
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.7);
            
    } 
 

    .navbar-custom .navbar-nav { 
        align-items: flex-end; 
        gap: 10px; 
        } 
    

    .navbar-custom .nav-item { 
        width: 100%; 
        display: flex; 
        justify-content: flex-end; 
        border: 2px solid variables.$color-acento;

        &:active{
           box-shadow: 0 0 10px variables.$color-acento;
        }
    
    } 

    .navbar-custom .nav-link { 
        min-width: 180px; 
        text-align: left; 
        color: variables.$color-principal; 
        padding: 10px 16px; 
        border-radius: 6px; 
        transition: background-color 0.25s ease, color 0.25s ease;    
       &:hover { 
        border: transparent;
        box-shadow: none; 
        
       

    }
    } 

} 
// main
     .seccion-principal { 
    min-height:  100vh; 
    display: flex; 
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
   
    position: relative; 
    z-index: 1; 
   
        .contenido-principal { 
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 460px;
            align-items: center;
    h2{
    font-size: 2.5rem; 
    font-weight: 300; 
    color: variables.$color-principal ; 
    
    font-family:"Share Tech Mono" , sans-serif; 
    text-transform: uppercase; 
    text-shadow: 0 0 6px rgba(0,0,0,0.3);     
}

    .type{
    display: inline-block;    
    
}
.type span {
    display: inline-block; 
    font-size: 1.5rem;   
    font-family: "share tech mono", sans-serif;
    font-weight: 500;
    color: variables.$color-principal;
    margin: 40px 0;
    text-transform: uppercase;
     overflow: hidden;
     white-space: nowrap;
     width: 0;
     position: relative;

     animation: typing 4.5s steps(31) 0.5s forwards;
     &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 100%;
        background-color:  variables.$color-acento;

        animation: blink 1.2s step-end infinite;
}
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 31ch;
    }
}
@keyframes blink {
    50%{
        opacity: 0;
     }
}


        p { 
    font-size: 1.2rem; 
    font-weight: 300; 
    color: variables.$color-principal; 
    font-family: "plus jakarta sans", sans-serif; 
    

    } 
    .bolder{ 
    font-size: 1.2rem; 
    font-weight: 600; 
    color: variables.$color-principal; 
    font-family: "plus jakarta sans", sans-serif; 

    } 
}
// boton

.btn-inicio{ 
    display: inline-block; 
   width: fit-content; 
   position: relative; 
   z-index: 1; 
  
   padding: 12px 24px;
    margin-top: 50px;
   font-family: "plus jakarta sans", sans-serif; 
   font-size: 1rem; 
   font-weight: 500; 
   text-decoration: none; 
   color: variables.$color-principal; 
   background-color: transparent;
   letter-spacing: 0.03em; 
   line-height: 1.2; 

   border: 2px solid variables.$color-principal; 
   border-radius: 2px; 

   cursor: pointer; 

   transition: 
        color 0.25s ease, 

        border-color 0.25s ease, 

        box-shadow 0.25s ease, 

        transform 0.2s ease; 

    -webkit-tap-highlight-color: transparent; 

    &:hover{ 
    color: variables.$color-acento; 
    border-color: variables.$color-acento; 
    box-shadow: 0 0 12px rgba(74, 251, 151, 0.4) ; 
     transform: translateY(-1px); 

} 
&:focus-visible {
    outline: none;
    box-shadow: 0 0 2px rgba(74, 251, 151, 0.4);
  }

  &:active {
    background-color: transparent;
    color: variables.$color-acento;
    border-color: variables.$color-acento;
    box-shadow: none;
    transform: translateY(0);
  }
} 
 
} 

// main mobile

@media (max-width: 991.98px) { 
 
    .seccion-principal { 
        display: flex; 
        flex-direction: column;
        min-height: 100svh; 
       padding: 20px 0; 
       max-width: 100%;
        justify-content: center;    
        align-items: center; 
      
       
       

         .contenido-principal {  
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 360px;
             justify-content: center; 
             align-items: center;
             
         

h2{ 
        font-size: 2rem; 
        font-weight: 400; 
        line-height: 1.3; 
         text-shadow: 0 0 8px rgba(0,0,0,0.7);
         margin: 10px 0;
    }

    .type span { 
        font-size: 1.2rem; 
        margin: 20px 0;
    }

        
    h3{ 
        font-size: 1.5rem; 
        font-weight: 600; 
        line-height: 1.3; 
       
         text-shadow: 0 0 8px rgba(0,0,0,0.7);
    } 
 

    } 


    } 
// boton mobile
    .btn-inicio { 
        display: flex;
        margin-top: 80px; 
        padding: 12px 28px;
        font-size: 1rem; 
        color: variables.$color-principal; 
        background-color: transparent; 
        border: 2px solid variables.$color-principal; 
        border-radius: 2px; 
        cursor: pointer; 
        width: fit-content; 
        position: relative; /* importante */ 
        z-index: 2; /* sobre overlay */ 
        transition: 
            color 0.25s ease, 
            border-color 0.25s ease, 
            box-shadow 0.25s ease, 
            transform 0.2s ease; 

            // hover
            &:hover,
            &.focus,
            &:active { 

                    color: variables.$color-acento; 
                     background-color: trans; 
                     border-color: variables.$color-acento; 
                    box-shadow:0 0 16px variables.$color-acento; 
                    transform: translateY(-2px); 

    }      
    } 
 }
 
 
/* estilos del footer */ 
 footer { 
    align-items: center;
   justify-content: center; 
    margin-top: 0; 
    padding: 30px; 
    position: relative; 
    z-index: 1; 

    p{ 
    text-align: center; 
    color: variables.$color-principal ; 
    font-size: 1.2em; 
    font-weight: lighter; 
    font-family:"share tech mono" , sans-serif ; 
    padding-top: 20px; 
    margin-bottom: 20px; 
} 
/* contenedor de iconos */ 

    .social-icons { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 1rem;
    
    a{
        display: inline-flex;
        width: 32px;
        height: 32px;
       
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            opacity: 0.5;
            transition: 
            filter 0.25s ease,
            transform 0.25s ease,
            opacity 0.25s ease;
            
    }

    &:hover img {
      opacity: 1;
      filter:
        drop-shadow(0 0 6px rgba(216, 219, 218, 0.6))
        drop-shadow(0 0 14px rgba(241, 247, 245, 0.4));
      transform: translateY(-2px);
    }
     
        } 

    } 
} 

// footer mobile

@media (max-width: 991.98px) { 
    footer { 
    
        margin-top: 60px; 

        .social-icons { 
        justify-content: center; 
        margin-top: 20px;  
            a{
                img { 
        width: auto;  
        object-fit: contain; 

        margin-right: 8px;  

        opacity: 0.5; 

        transition: 

            filter 0.25s ease, 

            transform 0.25s ease, 

            opacity 0.25s ease; 

             }
                &:hover img,
                &:focus img{ 

        opacity: 1; 

        filter: 

            drop-shadow(0 0 6px rgba(216, 219, 218, 0.6)) 

            drop-shadow(0 0 14px rgba(241, 247, 245, 0.4)); 

        transform: translateY(-2px); 

    } 

             }

                    }                 
    } 

   

} 

 

// sobre mi

// fondo

 .pagina-sobre-mi{

    min-height: 100vh; 

    background-color: variables.$color-fondo; 

    background-image: linear-gradient( 

        180deg, 

        rgba(0,0,0,0.6),  

        rgba(0,0,0,0.95) ); 
} 

// main
.sobre-mi { 

   display: flex; 
   align-items: center; 
   gap: 80px; 
   padding: 100px 60px 0; 
   justify-content: center; 

   .sobre-mi-texto{
       max-width: 600px; 
        flex: 1; 
        text-align: left; 

        h2{ 
        font-size: 2rem; 
        color: variables.$color-principal; 
        font-family: "Space Grotesk", sans-serif; 
        margin-bottom: 30px; 
            } 
         p { 

        font-size: 1.2rem; 
        color: variables.$color-principal; 
        font-weight: 400; 
         margin: 12px 0; 
         line-height: 1.6; 
          font-family: "plus jakarta sans", sans-serif; 
            }  

            p.color{ 
             color: variables.$color-acento;  
             font-weight: 600; 
             }  
   } 

//    imagen
    .sobre-mi-imagen{
        img{ 

             display: block; 
            margin: 0 auto; 
            max-width: 350px; 
             width: 100%; 
            border-radius: 8px; 
            object-fit: cover; 
            box-shadow:0 4px 10px rgba(0,0,0,0.15) ; 
            transition:transform 0.3s ease, filter 0.3s ease ; 
            filter: grayscale(100%); 

            // hover
            &:hover{ 
            transform: scale(1.02); 
            filter: grayscale(0%); } 

            } 
    }    
} 

// boton scroll

main .boton-scroll{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
   margin: 2rem auto 0; 
  padding: 0.75rem 1rem; 
  font-size: 1.5rem; 
  font-weight: 300; 
  line-height: 1; 
  color: variables.$color-acento; 
  text-decoration: none; 
  cursor: pointer; 
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;  
//   animacion de Animate.css
animation-name: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;


} 

// main sobre mi mobile

@media (max-width: 991.98px){
    .pagina-sobre-mi{
    min-height: auto; 
} 
    .sobre-mi { 
        flex-direction: column; 
        gap: 48px; 
        padding: 80px 24px 0; 

        .sobre-mi-texto { 
                  max-width: 520px; 
                 text-align: center; 
                 margin: 0 auto; 

                 h2 { 
                    text-align: center; 
                    font-size: 1.8rem; 
                    margin-bottom: 24px; 

                    } 

                    p { 

                        font-size: 1rem; 
                        line-height: 1.7; 
                        margin: 16px 0; 
                        text-align: center; 
                        letter-spacing: 0.5px; 

                     } 
             } 

             .sobre-mi-imagen { 
                display: flex; 
                justify-content: center; 


                img { 
                    max-width: 280px;
                    box-shadow:0 4px 10px rgba(0,0,0,0.15) ; 
                    transition:transform 0.3s ease, filter 0.3s ease ; 
                    filter: grayscale(100%);  

                   &:active { 
                    transform: scale(1.02); 
                    filter: grayscale(0%); 
                } 

                    } 

             } 
    } 
 }



// proceso de trabajo
.contenedor-grid{ 
    display: grid; 
    gap: 2rem; 
    grid-template-columns: repeat(4, 1fr); 
    max-width: 1200px; 
    margin: 150px auto 0; 
    padding: 0 1rem; 

    .titulo { 
         grid-column: 1 / -1;  
        text-align: center; 

        h3{ 
             color: variables.$color-principal; 
             font-size: 2rem; 
             font-weight: 600; 
             margin: 60px 0; 
              font-family:"Space Grotesk", sans-serif ; 

            } 
} 

    .contenido{ 
        display: flex;   
        flex-direction: column; 
        justify-content: center; 
         gap: 1rem; 
         padding: 20px; 
         border: 2px solid variables.$color-acento; 
        background-color: rgba(0, 0, 0, 0.85); 
        transition: transform 0.3s ease, box-shadow 0.3s ease; 
        overflow: hidden; 
        position: relative; 

        h4{ 
            color: variables.$color-principal; 
            font-size: 1.5rem; 
            font-family: "Share Tech Mono" , sans-serif ; 
            text-align: center; 
             padding-bottom: 10px; 
            font-weight: 400; 
             z-index: 1; 
            position: relative; 
            } 

            p{ 
            text-align: center; 
              color: variables.$color-principal;   
              font-family: "plus jakarta sans", sans-serif; 
                font-size: 1rem;    
             font-weight: 400; 
                z-index: 1; 
               position: relative;      
                } 

                // hover

               &:hover{ 
                transform: translateY(-4px); 
                 box-shadow: 0 8px 24px rgba(0,0,0,0.3); 
                } 

               &::before{ 
                content: ""; 
                position: absolute; 
                inset: 0; 
                background-image: url(../images/fondo.webp); 
                background-size: cover; 
                background-position: center; 
                opacity: 0; 
                transition: opacity 0.3s ease; 
                z-index: 0;   
                  

            } 

            &:hover::before{ 
             opacity: 0.6;    
            } 

}

} 

// main proceso de trabajo mobile

@media (max-width: 991.98px){
.contenedor-grid { 
        grid-template-columns: minmax(0, 320px);
        gap: 1rem; 
        margin: 60px auto 0;
        padding: 0 16px;
        justify-content: center;
        width: max-content;
        max-width: 360px;

        .contenido{ 
        min-height: auto; 
        width: 100%;

            h4{
                font-size: 1.2rem;

            }
            p{
                font-size: 0.95rem;

            }
       
         }        
} 

 }


//  contacto

.pagina-contacto{ 
    min-height: 100vh; 
    background-color: variables.$color-fondo; 
    background-image: linear-gradient( 
        180deg, 
        rgba(0,0,0,0.6),  
        rgba(0,0,0,0.95) ); 
} 

.contacto {   
    margin: 60px 0 20px 0; 

    .contacto-titulo { 
            max-width: 900px; 
            margin: 0 auto; 
            padding: 40px 0 20px 0; 
            text-align: center; 

            h2 { 
                text-align: center; 
                color:variables.$color-principal; 
                font-size: 2.5rem; 
                font-weight: 600; 
                margin: 20px 0 60px 0; 
                font-family:"Space Grotesk", sans-serif ;     
            } 
            
            .contacto-texto { 
                font-size: 1.3rem; 
                font-family: "plus jakarta sans", sans-serif; 
                color: variables.$color-principal; 
                margin-top: 30px; 
                font-weight: 300; 
            
            } 

            .contacto-texto-negrita{ 
                font-size: 1.3rem; 
                font-family: "plus jakarta sans", sans-serif; 
                color: variables.$color-acento; 
                margin: 30px 0; 
                font-weight: 600; 

            } 
        } 

// formulario

        .form-contacto { 
                background-image: url(../images/fondo.webp); 
                background-size: cover; 
              
                max-width: 700px; 
                margin: 80px auto; 
                padding: 60px; 
                border:2px solid variables.$color-acento ; 
                position: relative;
                z-index: 0;
                &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background-color: rgba(0, 0, 0, 0.6);
                            z-index: 0;
                            
                        }
                .form-grupo { 
                     margin-bottom: 60px; 
                     position: relative;
                     z-index: 1;


                     label{ 
                        color: variables.$color-principal; 
                        font-size: 1.5rem; 
                        font-weight: 300; 
                        display: block; 
                        margin-bottom: 10px; 
                        font-family:"share tech mono", sans-serif ; 
                        z-index: 1; 

                    }  
                    input,
                    textarea{ 
                        width: 100%; 
                        padding: 12px; 
                        color: variables.$color-principal; 
                        border: 1px solid variables.$color-acento; 
                        border-radius: 8px; 
                        font-size: 1.2rem; 
                        background-color: rgba(0, 0, 0, 0.85);  
                        font-family: "plus jakarta sans", sans-serif; 
                        &:focus{ 
                        outline: none; 
                        border-color: variables.$color-acento; 
                        box-shadow: 0 0 10px variables.$color-acento; 

                    } 
                    } 

             }   
// boton
                     .btn-formulario{ 
                         display: inline-block; 
                        padding: 10px 28px; 
                        margin: 60px 0 ; 
                        width: fit-content; 
                        position: relative; 
                        z-index: 1; 

                            
                        font-family: "plus jakarta sans", sans-serif; 
                        font-size: 1rem; 
                        font-weight: 500; 
                        text-decoration: none; 
                        color: variables.$color-principal; 
                        background-color: transparent; 
                        letter-spacing: 0.03em; 

                        line-height: 1.2; 

                        border: 2px solid variables.$color-principal; 
                        border-radius: 2px; 

                        cursor: pointer; 

                        transition: 

                                color 0.25s ease, 

                                border-color 0.25s ease, 

                                box-shadow 0.25s ease, 

                                transform 0.2s ease; 

                            -webkit-tap-highlight-color: transparent; 

                            &:hover{ 
                            color: variables.$color-acento; 
                            border-color: variables.$color-acento; 
                            box-shadow: 0 0 12px rgba(74, 251, 151, 0.4) ; 
                            transform: translateY(-1px); 

                        } 
                        &:focus-visible {
                            outline: none;
                            box-shadow: 0 0 2px rgba(74, 251, 151, 0.4);
                        }

                        &:active {
                            background-color: transparent;
                            color:variables.$color-acento ;
                            border-color:variables.$color-acento ;
                            box-shadow: none;
                            transform: translateY(0);
                        }
                        } 
 

            } 
} 

// contacto mobile

@media (max-width: 991.98px) {
.pagina-contacto{
        min-height: auto;
    }
.contacto { 
        margin: 30px 20px; 

        .contacto-titulo { 
                max-width: 100%; 
                 margin: 20px 0; 

                 h2 { 
                     font-size: 1.6rem;   
                    } 

                .contacto-texto { 
                    font-size: 1rem;
                     } 

            } 

            .form-contacto { 
                max-width: 100%; 
                border-width: 2px; 
                border-radius: 6px; 
                background-color: variables.$color-fondo;  
                margin: 50px 0; 

                .form-grupo { 
                     margin-bottom: 30px; 

                     label { 
                        font-size: 1rem; 
                        margin-bottom: 6px; 
                    } 

                     input,
                     textarea{ 
                        padding: 10px; 
                        font-size: 1rem; 
                    } 
                     } 

                    //  boton mobile

                     .btn-formulario { 
                        display: flex;
                        margin-top: 80px; 
                        padding: 12px 28px;
                        font-size: 1rem; 
                        color: variables.$color-principal; 
                        background-color: transparent; 
                        border: 2px solid variables.$color-principal; 
                        border-radius: 2px; 
                        cursor: pointer; 
                        width: fit-content; 
                        position: relative; /* importante */ 
                        z-index: 2; /* sobre overlay */ 
                        transition: 
                            color 0.25s ease, 
                            border-color 0.25s ease, 
                            box-shadow 0.25s ease, 
                            transform 0.2s ease; 

                            // hover
                            &:hover,
                            &.focus,
                            &:active { 
                                    color: variables.$color-acento; 
                                    background-color: transparent; 
                                    border-color: variables.$color-acento; 
                                    box-shadow:0 0 16px variables.$color-acento; 
                                    transform: translateY(-2px); 

                    }      
                    } 

                    } 

    } 


}

// Proyectos
.pagina-proyectos{ 
    min-height: 100vh; 
    background-color: variables.$color-fondo; 
    background-image: linear-gradient( 
        180deg, 
        rgba(0,0,0,0.6),  
        rgba(0,0,0,0.95) ); 
} 
.proyectos{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    justify-items: center;
    max-width: 900px;
    margin: 0 auto;

    .proyectos-titulo{
        margin: 40px 0;
        grid-column:1/ -1;  
    }
}
