// mixin con parametros

@mixin boton-estilos ($padding, $bg-color) {
    padding: $padding;
    background-color: $bg-color;
   
}

// mixin sin parametros

.boton{
   width: fit-content; 
   position: relative; 
   cursor: pointer;
   font-family: "plus jakarta sans", sans-serif; 
   font-size: 1rem; 
   font-weight: 500; 
   letter-spacing: 0.1rem;
   padding: 12px 28px;
   text-decoration: none;
   border-radius: 2px; 
  transition: 
            color 0.25s ease, 
            border-color 0.25s ease, 
            box-shadow 0.25s ease, 
            transform 0.2s ease;
     
}

