// mixin con parametros

@mixin boton-estilos ($padding, $bg-color) {
    padding: $padding;
    background-color: $bg-color;
   
}

// mixin sin parametros

.base{
    display: flex; 

    flex-direction: column; 

    text-align: center; 

    max-width: 420px; 

    align-items: center; 

     
}

@mixin tipografia{
    font-size: 2.5rem; 

    font-weight: 300; 


    margin: 40px 0 20px 0; 

    font-family:"share tech mono" , sans-serif; 
    
}

// mixin hibrido

